body{
	margin:0px;
	background-image: linear-gradient(to left bottom, #ffecc3, #ffead4, #ffece9, #fff1f8, #fff8ff, #ebe8ed, #d8d7da, #c7c7c7, #9f9f9f, #787878, #545454, #323232);
}
h1
{
	color: black;
	font-weight: 500;
	letter-spacing: 13px;
	font-size: 40px;
	font-family:baskerville;
	text-align:center;
	margin: 200px;
}
h9
{
	color: black;
	font-weight: 500;
	letter-spacing: 10px;
	font-size: 20px;
	font-family:baskerville;
	text-align:center;
	margin: 20px;
}




.button

{
 background: none;
 color:#22333b;
 border:2px solid;
 margin:20px;
 padding:1em 2em;
 font-size: 0.8em;
 border-radius:30px;
 text-decoration:none;

}

.button:hover

{
	border-color:#8b8c89;
	color:#8b8c89;
	box-shadow: 0 0.5em 0.5em -0.4em #5e503f;
	transform:translateY(-5px)
		 text-decoration: none;
}
nav{
	display: flex;
  justify-content: space-between;
  align-items: center;
   z-index: 1;
  
}
.text-overlay {
  position: relative;
  z-index: 2;

}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
 
}

.navbar.scrolled {
background-image: radial-gradient(circle, #fffdfd, #f5f3f4, #ebeaea, #e1e0e1, #d7d7d7, #c9cac9, #bcbcbc, #afafaf, #9b9b9b, #888888);

}

.title {
  text-align: center;
  margin: 0;
  flex-grow: 2;


}
	


.section {

    display: flex;
  flex-direction: row;
  align-items: center;
  border: 0;
  padding: 30px;
  margin: 140px;
  min-width:700px;
  min-height:1000 px;
}
a {
  text-decoration: none;
  color: black;
}
a: hover {
  text-decoration: none;
  color: #403d39;
}
.image {
  flex-basis: 40%;
  flex:1;
}

.image img {
  max-width: 900px;
  max-height:400px;

}

.text {
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 60%;
  max-width:600px;
  flex-grow:1;
  flex-shrink:2; 
 
}
.section:hover
{
	border-color:#403d39;
	color:#403d39;
	box-shadow: 1em 1.7em 1.5em -0.7em #e6b8a2;
	transform:translateY(-20px)
}

.section {
	border-color:white;
	color:black ;
	box-shadow: 1em 1.7em 1.5em -0.7em black;
	transform:translateY(-5px)
  opacity: 0;
  animation: fade-in 4s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer
{
   z-index: 1;
   padding: 100px;
   margin: 0;
   text-align: center;
}
.my-icon {
  font-size: 30px;
  color: white;
}

@media (max-width: 800px) 

 { 
	 h1{
		   font-size:20px;
	 }

}


@media (max-width: 800px) 

 { 
	 h1{
		   font-size:20px;
	 }

}