body{
	margin:0px;
	background-image: linear-gradient(to left bottom, #ffecc3, #ffead4, #ffece9, #fff1f8, #fff8ff, #ebe8ed, #d8d7da, #c7c7c7, #9f9f9f, #787878, #545454, #323232);
}
h1
{
	color: black;
	font-weight: 500;
	letter-spacing: 13px;
	font-size: 40px;
	font-family:baskerville;
	text-align:center;
	margin: 200px;
}

.button

{
 background: none;
 color:#22333b;
 border:2px solid;
 margin:20px;
 padding:1em 2em;
 font-size: 0.8em;
 border-radius:30px;
 text-decoration:none;

}

.button:hover

{
	border-color:#8b8c89;
	color:#8b8c89;
	box-shadow: 0 0.5em 0.5em -0.4em #5e503f;
	transform:translateY(-5px)
		 text-decoration: none;
}
nav{
	display: flex;
  justify-content: space-between;
  align-items: center;
   z-index: 1;
 
  
}
.text-overlay {
  position: relative;
  z-index: 2;

}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease;
 
}

.navbar.scrolled {
background-image: radial-gradient(circle, #fffdfd, #f5f3f4, #ebeaea, #e1e0e1, #d7d7d7, #c9cac9, #bcbcbc, #afafaf, #9b9b9b, #888888);

}
.title {
  text-align: center;
  margin: 0;
  flex-grow: 1;


}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

img {
  width: 100%;
  height: auto;
  	padding:20px;

}

div
{
	margin: 50px;
}
.image{
	border-color:white;
	color:black ;
	box-shadow: 1em 1.7em 1.5em -0.7em black;
	transform:translateY(-5px)
  opacity: 0;
  animation: fade-in 4s forwards;
}

footer
{
   z-index: 1;
   padding: 100px;
   margin: 0;
   text-align: center;
}
.my-icon {
  font-size: 30px;
  color: white;
}
h9
{
	color: black;
	font-weight: 500;
	letter-spacing: 10px;
	font-size: 20px;
	font-family:baskerville;
	text-align:center;
	margin: 20px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) 
{

	.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}
h1
	 {
		   font-size:15 px;
	 }
}





